.icon {
    height: 1.2em;
}

.red {
    color: white !important;
}

.yellow {
    color: white !important;
}

.navbar-text {
    font-size: 1em;
}

.bland-link {
    text-decoration: none;
    color: white !important;
}